<!DOCTYPE html>
<html>
<head>
	<title>Node Auth</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" type="text/css" href="./css/customcss.css">

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular/angular.js"></script>
</head>
<body>
	<div>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="logo pull-left">
				    <a class="navbar-brand" href="/default">Pizzacloud</a>
				</div>
				<div class="left pull-left">
				    <ul class="navbar-nav nav">
				        <li>
				            <a href="/default">Title</a>
				        </li>
				    </ul>
				</div>
				<div class="right pull-right">
					<ul class="navbar-nav nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							    Username <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
							    <li><a href="/login">Signout</a>
							    </li>
							</ul>
						</li>
					</ul>
				</div>
			</div>     
		</nav>
	</div>
	
	<div class="container" style="padding-top: 100px;">
		<div class="jumbotron text-center">
			<h1>Default page</h1>
		</div>
	</div>
</body>
</html>